body {
    background: white;
    height: 100%;
    font-family: 'Karla', sans-serif;
    color: #58646D;
    font-weight: 400;
}

button {
    box-shadow: none;
    background: #60839B;
    font-weight: bold;
    border-radius: none;
    color: white;
    border-width: 5px;
    border-color: #9CB2C1;
}

button:focus {
    outline: none;
}

.cancel,
.timeframe--edit,
.timeframe--remove,
.edit-frame,
.back-arrow,
.remove-frame {
    font-family: "appointments-icons";
    font-size: 1.75em;
}

/*Frame Wall Styling*/

header {
    height: 4.5em;
    background: #60839B;
    color: white;
    border-bottom: 5px solid #58646D;
    position: fixed;
    top: 0;
    z-index: 500;
    width: 100%;

}

.header-bar, .header-preview-bar {
    width: 90%;
    margin: 0 auto;
    padding: 1em 0 1em 0;
    max-height: 2em;
}

/*.logo {
    width: 1.70em;
    font-family: appointments-icons;
    color: white;
}*/

.logo-icon {
    font-size: 2.1em;
    font-family: "appointments-icons";
    color: white;
}

.logo-text {
    font-size: 2.4em;
    display: inline-block;
    font-family: 'Slabo 13px', 'Karla', sans-serif;
}

.menu-icon {
    position: relative;
    float: right;
}

.menu-icon:before {
    content: "";
    float: right;
    margin-top: 0.5em;
    width: 2.0em;
    height: 0.25em;
    background: white;
    box-shadow:
    0 0.6em 0 0 white,
    0 1.2em 0 0 white;
}

.frame-wall {
    margin-top: 6.5em;
}

.no-frames--content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
    font-weight: thin;
    opacity: 0.4;
    visibility: visible;
}

.hide-no-frames {
    visibility: hidden;
}

.today, .upcoming {
    margin: 1em auto;
    width: 90%;
    font-size: 1.25em;
}

.timeframe {
    width: 70%;
    /*height: 6em;*/
    margin: 1em auto;
    background: #7a7a7a;
    border-top: 9px solid #9CB2C1;
    border-right: 9px solid #58646D;
    border-bottom: 9px solid #58646D;
    border-left: 9px solid #9CB2C1;
    /*background: url("../img/clouds-gili-islands-indonesia-639.jpg");*/
    background-size: cover;
    padding: 1em;
    color: white;
    text-shadow: 1px 1px 0 #58646D;
    position: relative;
    overflow: auto;
}

.timeframe:active {
    border-top: 9px solid #58646D;
    border-right: 9px solid #9CB2C1;
    border-bottom: 9px solid #9CB2C1;
    border-left: 9px solid #58646D;
}

.preview-time,
.preview-location,
.preview-date,
.preview-title {
    display: block;
}

.preview-time {
    font-size: 1em;
}

.preview-title {
    font-size: 1.25em;
    padding-top: 0.5em;
    font-family: 'Slabo 13px', sans-serif;
}

.preview-location {
    padding-top: 0.5em;
    font-size: 0.75em;
}

.timeframe__options {
    position: absolute;
    right: 1em;
    top: 1.25em;
}

.timeframe--edit,
.timeframe--remove {
    display: block;
    padding-bottom: 0.5em;
}

.delete {
    position: absolute;
    top: 1em;
    right: 1em;
}

.frame1, .frame-view {
    background: url("../img/field-meadow-summer-625-985x550.jpg");
    background-size: cover;
    background-position: top;
}

.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: 1000;
}

.modal__content {
    color: white;
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.close-modal,
.confirm-remove {
    font-size: 1.15em;
}

/*.add-frame {
    width:  18%;
    position: fixed;
    bottom: 3%;
    right: 5%;
    z-index: 1000;
}*/

.add-frame {
    font-size: 5em;
    font-family: "appointments-icons";
    color: #60839B;
    position: fixed;
    bottom: 3%;
    right: 5%;
    z-index: 1000;
}

.add-frame:hover {
    color: #9CB2C1
}

.add-frame-container:after {
    content: "g";
    font-family: "appointments-icons";
    font-size: 5.4rem;
    color: white;
    position: fixed;
    bottom: 2.5%;
    right: 4.2%;
    z-index: 500;
}

.add-frame-container:before {
    content: "";
    width: 3.25em;
    height: 3.65em;
    background-color: white;
    position: fixed;
    bottom: 2.5%;
    right: 8%;
    z-index: 999;
}


/*New Frame Styling*/

.frame-new, .frame-view {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.cancel {
    position: absolute;
    top: 1em;
    right: 1em;
}

.new-frame-heading {
    font-size: 1.75em;
    font-weight: bold;
    font-family: 'slabo 13px', sans-serif;
    padding-bottom: 0.75em;
}

.frame-info-entry, .frame-info {
    margin: 5em auto 0 auto;
    width: 80%;
}

label {
    display: block;
    margin-top: 0.5em;
    font-size: 1.15em;
    font-weight: thin;
}

input {
    background: #E5E5E5;
    width: 100%;
    padding: 0.25em;
    margin-top: 0.25em;
    border: none;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-size: 1.5em;
    color: #58646D;
}

input:focus {
    border: 2px solid #9CB2C1;
    background: white;
    outline: none;
    margin-bottom: -4px;
}

.save-frame {
    width: 100%;
    font-size: 2em;
    color: white;
    margin: 1em auto;
    background: #60839B;
    padding: 0.25em;
    border-width: 9px;
    font-family: 'Slabo 13px', sans-serif;
    box-sizing: border-box;
}

.ui-datepicker {
    background: white;
    width: 80%;
    border: 2px solid #9CB2C1;
    border-top: none;
    box-sizing: border-box;
    line-height: 1.5em;
}

.ui-datepicker-header,
.ui-datepicker-title,
.ui-datepicker-calendar {
    width: 100%;
}

.ui-datepicker-calendar {
    margin: 0 0.75em;
}

.ui-datepicker-header,
.ui-datepicker-title {
    text-align: center;
}
.ui-datepicker-next,
.ui-datepicker-prev {
    padding: 0 4em 0 3.5em;
}
.ui-datepicker-calendar thead {
    text-align: left;
}

.ui-state-default {
    text-decoration: none;
    color: #58646D;
}

.ui-datepicker-unselectable .ui-state-default {
    color: #e5e5e5;
}

td:hover {
    background: #e5e5e5;
}

/*Frame-view Styling*/
.frame-view {
    background:
}

.map {
    background: url("../img/Screen Shot 2015-02-03 at 8.22.49 AM.png");
    background-size: cover;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 10em;

}

.frame-view-header {
    width: 80%;
    margin: 1em auto;
}

.back-arrow {
    position: fixed;
    top: 1em;
    left: 1em;
}

.edit-frame {
    position: fixed;
    top: 1em;
    left: 50%;
    transform: translate(-50%, 0);
}

.remove-frame {
    position: fixed;
    top: 1em;
    right: 1em;
}

.title,
.date,
.time,
.location {
    display: block;
    font-size: 1em;
    margin-top: 1.5em;
}



.title {
    size: 3em;
}
